[submodule "Projects/MEM.Zone-Dashboards"]
	path = Projects/MEM.Zone-Dashboards
	url = https://Ioan-Popovici@github.com/MEM-Zone/MEM.Zone-Dashboards
[submodule "Projects/Install-SRSReport"]
	path = Projects/Install-SRSReport
	url = https://Ioan-Popovici@github.com/MEM-Zone/Install-SRSReport
[submodule "Projects/IntuneAutopilotTool"]
	path = Projects/IntuneAutopilotTool
	url = git@github.com:MEM-Zone/IntuneAutopilotTool.git
[submodule "Projects/MEM.Zone-PSWmiToolKit"]
	path = Projects/MEM.Zone-PSWmiToolKit
	url = git@github.com:MEM-Zone/MEM.Zone-PSWmiToolKit.git
