[submodule "Projects/MEM.Zone-Dashboards"]
	path = Projects/MEM.Zone-Dashboards
	url = https://Ioan-Popovici@github.com/MEM-Zone/MEM.Zone-Dashboards
[submodule "Projects/Install-SRSReport"]
	path = Projects/Install-SRSReport
	url = https://Ioan-Popovici@github.com/MEM-Zone/Install-SRSReport
[submodule "Projects/PSWmiToolKit"]
	path = Projects/PSWmiToolKit
	url = https://Ioan-Popovici@github.com/Ioan-Popovici/PSWmiToolKit
[submodule "Projects/MEM.Zone-Blog"]
	path = Projects/MEM.Zone-Blog
	url = https://Ioan-Popovici@github.com/MEM-Zone/MEM.Zone-Blog
[submodule "Projects/IntuneAutopilotTool"]
	path = Projects/IntuneAutopilotTool
	url = git@github.com:MEM-Zone/IntuneAutopilotTool.git
